# Ignore everything
**

# Allow source
!/bin/console
!/composer.json
!/composer.lock
!/config/bundles.php
!/config/packages/*.yaml
!/config/packages/prod/**
!/config/routes/annotations.yaml
!/config/services.yaml
!/migrations
!/public/index.php
!/src
