parameters:
  level: 8
  paths:
    - src
    - tests
  excludes_analyse:
    - tests/build/*
  inferPrivatePropertyTypeFromConstructor: true
  ignoreErrors:
    # Test methods with intentionally no return type
    -
      message: '#::test.+\(\) has no return typehint specified#'
      path: 'tests'

    # Return type of 'array' of test data providers
    -
      message: '#DataProvider\(\) return type has no value type specified in iterable type array#'
      path: 'tests'

    # src/Model/Workflow/CallbackWorkflow::deriveState() return type is not correctly understood
    -
      message: '#Method App\\Model\\Workflow\\CallbackWorkflow::deriveState\(\) never returns string#'
      path: 'src/Model/Workflow/CallbackWorkflow.php'
