parameters:
  level: 8
  paths:
    - src
    - tests
  inferPrivatePropertyTypeFromConstructor: true
  ignoreErrors:
    # ObjectManager::getRepository() expects class-string<mixed>, string given (string is a valid type here)
    -
      message: '#Parameter \#1 \$className of method Doctrine\\Persistence\\ObjectManager::getRepository\(\)#'
      path: 'src/Services/FixtureLoader/AbstractFixtureLoader.php'

    # Unable to resolve the template type T in call to method Doctrine\Persistence\ObjectManager::getRepository()
    -
      message: '#Unable to resolve the template type T in call to method#'
      path: 'src/Services/FixtureLoader/AbstractFixtureLoader.php'

    # Test methods with intentionally no return type
    -
      message: '#::test.+\(\) has no return typehint specified#'
      path: 'tests'

    # Return type of 'array' of test data providers
    -
      message: '#DataProvider\(\) return type has no value type specified in iterable type array#'
      path: 'tests'
