WORKER_COMPILER_CONTAINER_NAME=compiler
WORKER_COMPILER_LOCAL_SOURCE_PATH=/local/source
WORKER_COMPILER_LOCAL_TARGET_PATH=/local/target
WORKER_COMPILER_LOCAL_MANIFEST_PATH=/local/manifests
WORKER_COMPILER_SOURCE_PATH=/app/source
WORKER_COMPILER_TARGET_PATH=/app/tests
WORKER_COMPILER_MANIFEST_PATH=/app/manifests
WORKER_COMPILER_EXPOSED_PORT=9000

WORKER_RABBITMQ_CONTAINER_NAME=rabbitmq
WORKER_RABBITMQ_USER=guest
WORKER_RABBITMQ_PASS=guest
WORKER_RABBITMQ_EXPOSED_PORT=9001
